@import '../../app/mixins.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.facts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.circle {
  &_inner {
    content: '';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    line-height: 1;
    font-weight: 600;
    color: $dark-blue;

    .bottom {
      font-size: 15px;
    }
  }
}
