@import '../../app/mixins.scss';

.wrapper {
  background: $blue;
  color: white;
  @include sidePadding;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $pink;
  flex-shrink: 0;
  margin-right: 10px;
}

.header {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: $yellow;
}