@import '../../app/mixins.scss';

.wrapper {
  background: $light-blue;
  padding: 30px 20px;
  border-radius: 20px;
  //box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  margin-bottom: 20px;
  overflow: hidden;
}