@import '../../app/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: $orange;
  text-align: center;
}

.achievments {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
