@import '../../app/mixins.scss';

.wrapper {
  padding: 20px;
  z-index: 2;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.text {
  color: white;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: right;
}