.wrapper {
  position: relative;
  display: flex;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;

  &_withBg {
    background: white;
  }
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.object {
  z-index: 1;
}